<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head'); -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('assets/img/home-bg.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Appointment</h1>
              <span class="subheading"
                >Book an appointment slot for the Driver</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="appointmentFormContainer">
      <form
        action="/appointment/createslot"
        method="POST"
        id="appointmentSlotsCreatingForm"
      >
        <label for="dateInput">Enter a date:</label>

        <input type="date" id="dateInput" name="date" class="form-control" />
        <label for="timeslotOption" class="form-label">Time Slot</label>
        <select id="timeSlotSelect" class="form-control" name="time">
          <option value="">Select a time slot</option>
        </select>
        <br />
        <!-- Submit Button-->
        <div id="submit-button">
          <button
            class="btn btn-primary text-uppercase"
            id="submitButton"
            type="submit"
          >
            Save
          </button>
        </div>
      </form>

      <script>

        //setting the minimum date to current
        const dateInput = document.querySelector("#dateInput");
                const currentDate = new Date().toISOString().split("T")[0];
                dateInput.min = currentDate;
                
        const dateInput = document.querySelector("#dateInput");
        const timeSlotSelect = document.querySelector("#timeSlotSelect");
        const allTimeSlots = [
          "09:00",
          "10:00",
          "11:00",
          "12:00",
          "13:00",
          "14:00",
          "15:00",
          "16:00",
        ];

        dateInput.addEventListener("change", (event) => {
          const date = dateInput.value;
          // Remove all options except the first one
          const options = timeSlotSelect.querySelectorAll("option");
          options.forEach((option) => {
            if (option.value !== "") {
              option.remove();
            }
          });

          fetch(`/apointments/withdate?date=${date}`)
            .then((response) => response.json())
            .then((data) => {
              console.log(date);
              console.log(data);

              const usedTimeSlots = Object.values(data).map(
                (item) => item.time
              );
              const availableTimeSlots = allTimeSlots.filter(
                (slot) => !usedTimeSlots.includes(slot)
              );
              allTimeSlots.forEach((timeSlot) => {
                const option = document.createElement("option");
                option.value = timeSlot;
                option.text = timeSlot;
                if (!availableTimeSlots.includes(timeSlot)) {
                  option.disabled = true;
                }
                timeSlotSelect.appendChild(option);
              });
            })
            .catch((error) => {
              console.error(error);
            });
        });

        const form = document.querySelector("#appointmentSlotsCreatingForm");
        // form.addEventListener("submit", (event) => {

        //   const date = dateInput.value;
        //   const time = timeSlotSelect.value;
        //   console.log(date, time);
        // });
      </script>
    </div>

    <!-- Footer-->
    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
